.Footer{

    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-color: black;
   

    @media screen and (max-width: 768px) {
           
        .logoFooter{

            img{
                width: 100px;
                //height: 100px;
            }
        }
        .copie{

            position: relative;
            top: -30px;
            //border: solid blue;
            img{
                width: 80px;
                //height: 100px;
            }
        }
      
        
        
        
    }
}